<h1>Secret Page</h1>

<p>You found me</p>

<img src="https://thefinanser.com/wp-content/uploads/2020/04/Secret.jpg" alt="">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>